*{ 
  text-decoration:none;
  margin:0px;
  
}

body{
 width:90%;
 
}

h2{
  color: antiquewhite;
  font-family:arial;
  font-weight: bold;
  font-size: 25px;
  text-align: Center;
  margin-top:80px;
  position:absolute;
  left:50px;
  right:50px;
  bottom:400px;
  
  

  
}

.button{
  
display:flex;
justify-content:center;
color:black;
background-color: white;
position:absolute;
right:50px;
left:50px;
top:300px;
margin:0px;
  
}


nav{
  width:100%;
  display: flex;
  background-color: gray;
  justify-content:space-between;
  align-items: center;
  padding:10px 20px;
  margin:0px;
}
nav ul{ 
  
  display:flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li a{
 text-decoration: none;
 color: white;
 padding: 10px;
 

}

footer{
  position:absolute;
  bottom:-30px;
}

footer h2{
  margin:0px;
}
